<form [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input formControlName="search" matInput />
    </mat-form-field>

    @if (brands()) {
        <div formArrayName="brands" class="checkbox-container">
            @for (brand of brands(); track brand) {
                <mat-checkbox [formControlName]="$index">{{ brand }}</mat-checkbox>
            }
        </div>
    } @else {
        <mat-spinner diameter="60" class="loader"></mat-spinner>
    }
    <div formGroupName="priceRange" class="price-range">
        <div>
            Min
            <app-counter formControlName="min"></app-counter>
        </div>
        <div>
            Max
            <app-counter formControlName="max"></app-counter>
        </div>
    </div>
</form>

<!-- {{this.form.get('search')?.errors | json}}
{{this.form.get('search')?.getError('isStringValidator') | json}} -->
{{ errors() | json }}
