<form [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <!-- <input [formControl]="inputControl" matInput /> -->
        <!-- <input [formControl]="form.get('search')" matInput /> -->
        <input formControlName="search" matInput />
    </mat-form-field>

    @if (hasBrandsControls) {
        <div formArrayName="brands" class="checkbox-container">
            @for (brand of brands(); track brand) {
                <mat-checkbox [formControlName]="$index">{{ brand }}</mat-checkbox>
            }
        </div>
    } @else {
        <mat-spinner diameter="60" class="loader"></mat-spinner>
    }
    <div formGroupName="priceRange" class="price-range">
        <div>
            Min
            <!-- <app-counter [formControl]="minCounterControl"></app-counter> -->
            <app-counter formControlName="min"></app-counter>
        </div>
        <div>
            Max
            <app-counter formControlName="max"></app-counter>
        </div>
    </div>
</form>

<!-- {{minCounterControl.value}} -->
{{ minCounterControlValue() }}

<p>valid: {{ minCounterControl.valid }}</p>
<p>invalid: {{ minCounterControl.invalid }}</p>
<p>touched: {{ minCounterControl.touched }}</p>
<p>untouched: {{ minCounterControl.untouched }}</p>
<p>pristine: {{ minCounterControl.pristine }}</p>
<p>dirty: {{ minCounterControl.dirty }}</p>
