<div #form="ngForm" ngForm>
    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input
            #searchModel="ngModel"
            name="search"
            matInput
            appIsStringValidator
            required
            minlength="3"
            [ngModel]="''"
        />
    </mat-form-field>

    @if (brands()) {
        <div ngModelGroup="brands" class="checkbox-container">
            @for (brand of brands(); track brand) {
                <mat-checkbox [ngModel]="false" [name]="brand">{{ brand }}</mat-checkbox>
            }
        </div>
    } @else {
        <mat-spinner diameter="60" class="loader"></mat-spinner>
    }
    <div ngModelGroup="priceRange" class="price-range">
        <div>
            Min
            <app-counter #minModel="ngModel" name="min" [ngModel]="0"></app-counter>
        </div>
        <div>
            Max
            <app-counter name="max" [ngModel]="999999"></app-counter>
        </div>
    </div>

    <button mat-button (click)="log(form.value)">Отправить</button>
</div>

{{ searchModel.errors | json }}
{{ searchModel.getError('isStringValidator') | json }}
