:host {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 0;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}

.card {
    margin: 10px;
}

.scroll-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 0;
    overflow: auto;
}
